body {
    margin: 0;
    background-image: url(IMG/chrismasbg.png);
    /*object-fit: cover;*/
    background-origin: unset;
    
}

.h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    text-shadow: red;
    font-size: 1.5em;
    margin-top: 16px;
}

.door1 {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.presnt1 {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: sandybrown;
}

.d-none {
    display: none;
}

.doorbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-left: 64px;
    margin-top: 42px;
}

.firstdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: right;
    color: white;
    text-shadow: red;
    font-size: 1.5em;
    margin-top: 64px;
    margin-bottom: 16px;
    background-color: rgba(169, 169, 169, 0.55);
}


